.mblogo{
    width: 280px;
    height: 280px;
    top: 5%;
    position: relative;
    animation-delay: 2s;
    left: 35%;
    border: 2px solid black;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
  
}

.htwo{
    text-align: center;
    font-size: smaller;

}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease 0s;
    left: -37%;
    top: 8%;
    position: relative;
}


h2{
    font-style: italic;
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 0px solid white;
   
    transition: all 0.3s ease 0s;
    font-size: 17px;
    position: ab;
    right: -40%;
}

.ellaine{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    top: -29%;
    right: -33%;
    position: relative;
}

span{
    font-style: normal;
    font-size: 17px;
}

p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(221, 221, 221);
}

body{
   
    margin: auto;
    width: 1000px;
    height: 500px;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 40%;
    border-color: grey;
    position: relative;
    
}

.nav{
    position: fixed;
    background-color: black;
    width: 100%;
    height: 25PX;
    display: flex;
    align-items: center;
    padding: 10px 2%;
    top: 0%;
    left: 0;
    z-index: 16;
}

.about-mb{
    border-radius: none;
    color: white;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2em;
    width: fit-content;
    cursor: pointer;
    font-size: 20px;
    font-family: barlow condensed,sans-serif;
    color: white;
    object-fit: cover;
    font-style: italic;
    font-weight: bold;
}

.about-mb:hover{
    opacity: .5;
}
font{color: red;}

.main-content{
    width: 1000px;
    height: 1000px;
    position: relative;
    animation-delay: 2s;
}

.owner{
    position: relative;
    height: 350px;
    top: -50%s;
    transition: all 0.3s ease 0s;
    object-fit: cover;
    border: black solid 1px;
    padding: 10px;
    border-radius: 2px;
    object-fit: cover;
}